  $gray : #f8f8f8;
  $blue : #149ae5;
  .tr{
    transition:all 0.3s;
  }


  @keyframes scale {
    0% {
      transform:scale(1);
      opacity:0;

    }
    50% {
     transform:scale(1.02);
     opacity:1;
   }
   100% {transform:scale(1)}  
 }

 body{
  footer{
    background: $blue;
    text-align: center;
    color: white;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    p{
      margin:0;
      padding:1em;
    }
  }
  min-height: 100vh;
  padding: 2em 2em 6em;
  font-family: Helvetica;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  .formContainer{
    text-align:center;
    margin:0 auto 15px;
    table{

      max-width: 410px;
      width: 100%;
      margin: 0 auto 15px;
    }
    input{
      background-color:$blue;
      border:none;
      padding:10px;
      opacity:1;
      color:white;
      cursor:pointer;
      @extend .tr;
      border-radius:3px;
      &:nth-of-type(1){
        &:hover{  background-color:#14cd73;}
      }
      &:hover{
        opacity:0.8;
      }
    }
    textarea{
      border:2px solid #ccc;
      min-width: 100%;
      min-height:150px;
      border-radius:3px;
      padding:15px;
      @extend .tr;
      font-size:1.2em;
      &:focus{
        outline:0;
        border-color:$blue;
      }

    }
  }

    #databaseTable{
     padding: 50px 0 0 0;
     table{
        width:100%;
        border: 1px solid #ccc;
        text-align:center;
        thead{
          tr{
           background-color: $gray;
           td{padding: 1em;}
         }
       }
       tbody {
        tr{
          background-color: $gray;
          border: 1px solid #ddd;
          &.animated{
            transform: scale(1.1);
            transition: all .2s ease-in-out; 
          }

          animation-name: scale;
          animation-duration:1s;

          &:nth-child(odd){
            background-color:white;
          }
          td{
            padding:1em;
          }
        } 
      }
    }
  }
}